@import './base.css';

::root {

  --section-gap: 160px;
}

.body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: var(--color-background-soft);
  width: min(110ch, 100vw - 2rem);
  margin-inline: auto;
  margin-bottom: var(--step-5);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: var(--color-button-color);
  color: var(--color-bright-text);
  padding: 1rem;
}

.btn {
  background-color: var(--color-button-color);
  border: var();
  padding: 1rem;
  margin: var(--step-2);
  color: var(--color-bright-text);
  border-radius: var(--rounded-corners);
}