@import './base.css';

::root {
  --color-background: #d68924;
  --color-background-soft: #707070;
  --color-background-mute: #f2f2f2;
  --color-bright-text: #fff;
  --color-button-color: #9b0505;
  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);
  --color-heading: #2c3e50;
  --color-text: #2c3e50;

  --section-gap: 160px;
}

.body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: var(--color-background-soft);
  width: min(110ch, 100vw - 2rem);
  margin-inline: auto;
  margin-bottom: var(--step-5);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 120px;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
}

.footer {
  background-color: var(--color-button-color);
  color: var(--color-bright-text);
  padding: 1rem;
  text-align: center;
}

.btn {
  background-color: var(--color-button-color);
  border: var();
  padding: 1rem;
  margin: var(--step-1);
  color: var(--color-bright-text);
  border-radius: var(--rounded-corners);
}

.products-grid {
  color: var(--color-bright-text);
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
}

.product-card {
  background-color: var(--color-button-color);
  padding: var(--step-2);
  margin: var(--step-0);
  border-radius: var(--rounded-corners);
}

.product-card img {
  width: 100%;
  border-radius: var(--rounded-corners);
}